<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>Product Content Builder</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/ckp5vuh.css">
    <link rel="stylesheet" type="text/css" href="{{ 'main.min.css' | asset_url  }}">
    {{ content_for_header }}
    <script src="https://kit.fontawesome.com/6bc1f3c824.js" crossorigin="anonymous"></script>
</head>

<body id="content-builder" >
    {% capture the_snippet_content %}{% render 'socialshopwave-helper' %}{% endcapture %}
    {% unless the_snippet_content contains 'Liquid error' %}
        {{ the_snippet_content }}
    {% endunless %}

    {%- render 'youtube-popup' -%}

    <div id="PageContainer" class="is-moved-by-drawer">
        <main class="main-content" role="main">
            {{ content_for_layout }}
        </main>
    </div>

    {%- render 'js-globals' -%}
    {{ 'site.min.js' | asset_url | script_tag }}
    
  </body>
</html>