<div class="banner-prokit-section-1">
        <div class="banner-section">
             {%- if section.settings.proimage -%}
    {%- render 'image-responsive', image : section.settings.proimage -%}
	   {%- endif -%}
             {% if section.settings.title !=blank %}
<div class="buy-now">
<a href="#">{{ section.settings.title }}</a>
            </div>
          {% endif %}
            </div>
       
        <div class="video-section">
           <div class="landing-section-1 landing-section-1--align-left wk-videosection">
<div class="landing-section-1__wrap">
<div class="landing-section-1__images">
<div class="container">
<div class="wrapper">
{% if section.settings.videourl !=blank %}
<video id="myvideo" class="video responsive-iframe video-js vjs-default-skin vjs-big-play-centered" controls="controls" preload="auto" data-setup="{}"
       poster="https://cdn.shopify.com/s/files/1/1455/0700/files/image-004_61362536-a1c4-43a0-b6fc-ea9d2f692521.png">
<source src="{{ section.settings.videourl }}" type="video/mp4" /></video>
 {% endif %}
</div>
</div>
</div>
</div>
</div>
        </div>
    </div>
    <!-- section-2 -->
    <div class="prokit-section-2">
        <div class="pro-kit-sec-2-pic">
            {%- if section.settings.section2image -%}
    {%- render 'image-responsive', image : section.settings.section2image -%}
	   {%- endif -%}
</div>
        <div class="pro-kit-content">
		 {% if section.settings.sec2text !=blank %}
          {{ section.settings.sec2text }}
			 {%- endif -%}
         
          <p>
            Supported by the hospitality elite, the portable Pro 2 Flavour Blaster is loved by 1000’s worldwide.
          </p>
          <p>Immerse yourself in the <b>world’s first hand-held machine</b> that uses exciting technology for instagrammable bubbles, unmissable flavours, all powered by rich aromatic experiences.
          </p>
          <p> Since launching The Flavour Blaster it has rapidly grown in popularity, allowing people the power to add a touch of theatre to exclusive restaurants, bars, parties, events, and gatherings all over the globe</p>
        </div>
    </div>
    <!-- section-3 -->
    <div class="prokit-section-3">
        <div class="banner-section">
             {%- if section.settings.section3image -%}
    {%- render 'image-responsive', image : section.settings.section3image -%}
	   {%- endif -%}
            <div class="click-here">
			 {% if section.settings.sec3text !=blank %}
                <p>{{ section.settings.sec3text }}</p>
              {%- endif -%}
				 {% if section.settings.sec3buttontext !=blank %}
                <a href="#">{{ section.settings.sec3buttontext }}</a>
				 {%- endif -%}
            </div>
        </div>
        <div class="pro-kit-content">
           {%- if section.settings.section3rightimage -%}
    {%- render 'image-responsive', image : section.settings.section3rightimage -%}
	   {%- endif -%}
        </div>
    </div>
    <!-- section-4 -->
    <div class="prokit-section-4">
        <div class="prokit-section-4-content">
		 {% if section.settings.sec4text !=blank %}
            <p>{{ section.settings.sec4text }}</p>
			 {%- endif -%}
        </div>
    </div>
        <!-- section-5 -->
        <div class="prokit-section-5">
            <div class="prokit-section-5-content">
                Pay later with <img src="https://cdn.shopify.com/s/files/1/1455/0700/files/pay.png" alt="">
            </div>
        </div>
<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
{% schema %}
{
  "name": "Pro Kit",
  "settings": [
    
        {
            "type": "image_picker",
            "id": "proimage",
            "label": "PRO2 Image"
        },
		
		
{
                    "type": "text",
                    "id": "title",
                    "label": "PRO2 Button Text"
                   
                },
				{
            "type": "url",
            "id": "videourl",
            "label": "Video Url"
        },
				 {
            "type": "image_picker",
            "id": "section2image",
            "label": "Section2 image"
        },
		{
                    "type": "richtext",
                    "id": "sec2text",
                    "label": "Section2 Text"
                   
                },
				{
            "type": "image_picker",
            "id": "section3image",
            "label": "Section3 image"
        },
		{
                    "type": "richtext",
                    "id": "sec3text",
                    "label": "Section3 Text"
                   
                },
				{
                    "type": "text",
                    "id": "sec3buttontext",
                    "label": "Section3 Button Text"
                   
                },
				{
				"type": "image_picker",
            "id": "section3rightimage",
            "label": "Section3 Right image"
        },
		{
                    "type": "text",
                    "id": "sec4text",
                    "label": "Section4 Text"
                   
                }

]
	
  }

{% endschema %}


